maximart <maximart@student.42.fr> maximart <maxime.martinez96@hotmail.fr>
maximart <maximart@student.42.fr> Manomania <34182052+Manomania@users.noreply.github.com>
elagouch <elagouch@student.42.fr> Erwann Lagouche <21955960+airone01@users.noreply.github.com>